


body {
    background-color: rgb(199,43,29);
}

.container{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 15px;
    background-color: rgb(253,191,59);
    padding: 1em;
    width: 100%;

}

.item{
    text-align: center;
    padding:1em;
}

header {
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    color:white;
}


.container_imagenes{
    margin: 1em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    justify-items: center;
    align-content: center;
}

@media(max-width:600px){
    .container{
        grid-template-columns: 1fr;
    }

}

@media(max-width:700px){
    
    .container_imagenes{
        grid-template-columns: 1fr;
    }
}

.item:hover{
    background-color: rgb(251, 180, 26);
}


.imagenes{
    display: flex;
    align-content: center;

}

.pie_pagina{
    background-color: rgb(134,151,85);
    text-align:right;
    font-family:'Times New Roman', Times, serif;
    padding: 1em;
    margin-bottom: -1em;
    width: 100%;
}